/* Reset */

:root {
    --ContainerColor: #5c47ad;
    --bottonColor: #1678a5;
    --deleteBtnColor: brown;
    --backgroundColor: rgb(14, 11, 26);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
    background-color: var(--backgroundColor);
}

.main-menu {
    color: aliceblue;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 30px;
    padding-left: 40%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}

.button-container {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 2%;
}

.menu-button,
.input-data-button,
.task-buttons {
    border: none;
    border-radius: 3px;
    color: aliceblue;
    background-color: var(--bottonColor);
    margin-right: 0.625rem;
    padding: 0.325rem;
    font-weight: bold;
    font-size: 1rem;
    min-width: fit-content;
}

.input-data-button {
    margin-right: 0px;
}

.input-name {
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
}

.delete-button {
    background-color: var(--deleteBtnColor);
}

.menu-button:hover,
.task-buttons:hover {
    opacity: 0.6;
    transform: scale(1.1);
    cursor: pointer;
}

.input-data-button:hover {
    opacity: 0.9;
    transform: scale(1.05);
    cursor: pointer;
}

.input-data-container {
    font-family: inherit;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.625rem;
    display: grid;
    gap: 10px;
    background-color: var(--ContainerColor);
    border-radius: 5px;
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    box-shadow: 0.123rem rgba(240, 248, 255, 0.164);
}

.input-data-container textarea {
    font-size: 1rem;
}

.hide-input-container {
    display: none;
}

.stage-containers {
    min-width: 25rem;
    min-height: 20rem;
}

.task-buttons {
    max-width: fit-content;
}

.tasks-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    font-family: inherit;
    font-weight: bold;
    color: aliceblue;
}

.task-container {
    font-family: inherit;
    font-size: 1rem;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    background-color: var(--ContainerColor);
    border-radius: 0.325rem;
    box-shadow: 0.325rem 0.325rem 0.325rem rgba(240, 248, 255, 0.164);
}

.tittle-line-through {
    text-decoration: line-through
}

.title-and-buttons {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}

.description {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.drag-border-show {
    border-top: solid wheat;
}

@media only screen and (max-width: 1600px) {
    .stage-containers {
        min-width: 20rem;
        min-height: 10rem;
    }
}

@media only screen and (max-width: 1400px) {
    .stage-containers {
        min-width: 15rem;
        min-height: 10rem;
    }
}